body {
  background-color: #444;
}
.login {
  background-color: #ffffff;
  margin: 0 auto;
  padding: 1.5em 1em 6em;
}

.ui.fluid[class*='left labeled'].icon.button,
.ui.fluid[class*='right labeled'].icon.button {
  padding-left: 0em !important;
  padding-right: 1.5em !important;
}
.ui.fluid.button.login-button {
  height: 40px;
  background-color: transparent !important;
  color: #000000;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.ui.fluid.button.login-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.ui.fluid.button.login-button .btn-icon {
  background-color: transparent !important;
}
