body {
  background-color: #444;
}

.games-container {
  width: calc(100% - 400px) !important;
  background-color: #fff;
  margin: 0 auto !important;
  min-width: 320px !important;
}

@media (max-width: 1200px) {
  .games-container {
    width: calc(100% - 200px) !important;
  }
}

@media (max-width: 768px) {
  .games-container {
    width: calc(100% - 40px) !important;
  }
}

@media (max-width: 480px) {
  .games-container {
    width: 100% !important;
  }
}

.login-loading-segment {
  height: 235px !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  box-shadow: none !important;
  border: none !important;
}

.login-loading-dimmer {
  background: #fff !important;
}
.ui.fluid.button.login-button .btn-icon {
  background-color: transparent !important;
}

.ui.secondary.button.logout-button {
  height: 50px;
  font-size: 18px;
  padding-left: 4rem !important;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-left: 30px;
}
