.games-typography {
  font-size: 1.5em !important;
  font-weight: 700;
}

.game-list-heading {
  padding: 0 !important;
  margin-left: 1rem !important;
}
.games-spacing {
  margin-left: 1rem !important;
}
.game-card-image {
  width: 300px !important;
  margin-top: 2rem;
}

.game-card-header {
  margin-top: 0.5rem !important;
  font-size: 1.5em !important;
}

.game-card-description {
  font-weight: 500 !important;
  line-height: 1.5;
  text-align: left;
}

@media (max-width: 767px) {
  .game-card-image {
    margin: 1rem auto;
    display: block;
  }

  .game-card-header {
    text-align: center;
  }

  .game-card-description {
    margin: auto 1rem;
    text-align: justify;
  }
}

.ui.secondary.button.play-game-button {
  font-size: 22px;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.ui[class*='right labeled'].icon.button {
  padding-right: 4rem !important;
}
